@charset "UTF-8";
/* CSS Document */

body{
	background-image: url(../images/trm_stars.jpg);
	background-size: 100%;
	
}

#logo{
	float: center top;
	
}

#bandphoto img{
	width:97%;
	margin: 0 auto;
	padding: 15px;
}
#intro{
	padding: 15px;
	width: 600px;
	line-height: 45px;
	margin: auto;
}

nav{
	background-color: #9D0104;
	height: auto;
	text-align: center;
	font-family: Abel;
	font-size: 1.5em;
	width: 100%;
	word-wrap: break-word;
}

nav ul{
	list-style-type: none;
}

nav li{
	display:inline-block;
	line-height: 40px;
	padding-left: 5%;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}


h1{
	color:white;
	font-family: Abel;
	font-size: 40px;
	padding: 15px;
	text-align: center;
}

h2{	
	font-family: Tinos, serif;
	font-size: 1.2em;
	color:white;
	text-align: center;
}

p{
	font-family: Tinos, serif;
	font-size: 1em;
	color:white;
	text-align: left;

}

i{
	padding: 15px;
	text-decoration: none;
	text-align: center;
	
}

iframe {
	padding: 1% 5%;
}

.media {
	display: inline-block;
	color: white;
	font-size: 3em;
	text-decoration: none;
	margin: auto;
	
}


.lyrics{
	padding-bottom: 40px;
	padding-left: 11%;
	float: left;
	width: 35%;
	height: 150px;

}


.clear{
	clear: both;
	
}

.song{
	clear: both;
	width: 100%;
	background-color: #9D0104;
	overflow: hidden;
}

.mmm{
	line-height: 2em;
	font-size: 1.3em;
	clear: both;
	padding: 1.5em;
}

.photo{
	float: left;
	padding: 0em 2em 2em 2em;
}

.name{
	color:white;
	font-family: Abel;
	font-size: 2.5em;
	
}

.gallery{
	padding: 5%;
}

.gallery img{
	border: 1px solid #FFFFFF;
	width: 25%;
	height: auto;
}