@charset "UTF-8";
/* CSS Document */

body{
	background-image: url(../images/trm_stars.jpg);
	
}

#logo{
	float: center top;
	
}

#bandphoto img{
	width:97%;
	margin: 0 auto;
	padding: 15px;
}
#intro{
	padding: 15px;
	width: 550px;
	line-height: 45px;
}

nav{
	background-color: #9D0104;
	height: 42px;
	text-align: center;
	font-family: Abel;
	font-size: 1.5em;
	color: black;
	width: 100%;
	
}

nav ul{
	list-style-type: none;
}

nav li{
	display:inline-block;
	line-height: 40px;
	padding-left: 50px;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}

p{
	font-family: Tinos, serif;
	font-size: 20px;
	color:white;
	text-align: center;
}

h1{
	color:white;
	font-family: Abel;
	font-size: 40px;
	padding: 15px;
	text-align: center;
}

.media{
	display: inline-block;
	color: white;
	font-size: 3em;
	text-decoration: none;
	align-content: center;
	
}

i{
	padding: 15px;
	text-decoration: none;
	
}

.lyrics{
	padding-bottom: 20px;
	float: left;
	text-align: left;
	column-count: 2;
	column-rule-width: 250px;
	
}

.clear{
	clear: both;
}

